<h2>待做事項</h2>
<%=render :partial =>"form" %>

<%=render :partial =>"nav" %>

<div id="todoList">
  <%@todos.each do|todo|%>
  <%=render :partial =>"todo_item", :locals => { todo:todo } %>
  <%end%>

</div>
